.card-product{
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: var(--width-productCard);
}

.container-product-img{
	height: 240px;
	width: 100%;
	overflow: hidden;
}

.card-product img{
	width: 100%;
	height: 100%;
}