*{
 --height-header: 60px;
 --z-header: 2;
 --width-filterMenu: 220px;
 --width-productCard: 200px;

 --padding-page: 0.5rem;

 --color-text: #212121;
 --color-grey: #878787;
 --color-discount: #388e3c;
 --color-bg-page: #F1F3F6;
 --color-bg: #fff;

 --box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-text);
  background-color: var(--color-bg-page);
}

.line-through{
  text-decoration: line-through;
}

.text-grey{
  color: var(--color-grey);
}

.weight500{
  font-weight: 500;
}