.page-products{
	margin-top: calc(0.5rem + var(--height-header));
	padding: 0 0.5rem;
}

.container-products{
	margin-left: calc(1.5rem + var(--width-filterMenu));
}

.list-products{
	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--width-productCard), 1fr));
	grid-gap: 1.5rem; */
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}